<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.laborder.mapper.ClassroomMapper">
    <resultMap id="ClassroomResult" type="com.bdu.laborder.entity.Classroom">
        <id property="uuid" column="uuid"                        />
        <result property="name" column="name"                    />
        <result property="address" column="address"              />
        <result property="level" column="level"                  />
        <result property="cap" column="cap"                      />
        <result property="status" column="status"                />
        <result property="leader" column="leader"                />
        <result property="leaderId" column="leader_id"           />
        <result property="delFlag" column="del_flag"             />
        <result property="remark" column="remark"                />
        <result property="createBy" column="create_by"           />
        <result property="createTime" column="create_time"       />
        <result property="updateBy" column="update_by"           />
        <result property="updateTime" column="update_time"       />
    </resultMap>

    <sql id="selectClassroomVO">
        select uuid,name,address,level,cap,status,leader,leader_id,del_flag,remark,create_by,create_time,update_by,update_time
        from s_classroom
    </sql>

    <select id="selectClassroomList" resultMap="ClassroomResult">
        <include refid="selectClassroomVO" />
        <where>
            del_flag = '0'
            <if test="name != null and name != ''">AND name like concat('%',#{name},'%')</if>
            <if test="address != null and address != ''">AND address like concat('%',#{address},'%')</if>
            <if test="leader != null and leader != ''">AND leader like concat('%',#{leader},'%')</if>
            <if test="status != null and status != ''">AND status = #{status}</if>
        </where>
        order by create_time,update_time desc
    </select>

    <insert id="insertClassroom">
        insert into s_classroom (
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="cap != null and cap != ''">cap,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="leader != null and leader != ''">leader,</if>
            <if test="leaderId != null and leaderId != ''">leader_id,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        ) values (
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="cap != null and cap != ''">#{cap},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="leader != null and leader != ''">#{leader},</if>
            <if test="leaderId != null and leaderId != ''">#{leaderId},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <select id="checkAddressUnique" resultMap="ClassroomResult">
        select uuid,address from s_classroom where address=#{address} and  del_flag = '0'
    </select>

    <select id="getClassroom" resultMap="ClassroomResult">
        <include refid="selectClassroomVO" />
        where uuid = #{id}
    </select>

    <update id="updateClassroom">
        update s_classroom
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="cap != null and cap != ''">cap = #{cap},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="leader != null and leader != ''">leader = #{leader},</if>
            <if test="leaderId != null and leaderId != ''">leader_id = #{leaderId},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where uuid = #{uuid}
    </update>

    <delete id="deleteClassroomByIds">
        update  s_classroom set del_flag = '1' where uuid in
        <foreach collection="array" item="uuid" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>

    <select id="selectRoomByNameOrAdd" resultMap="ClassroomResult">
        <include refid="selectClassroomVO" />
        where (name like concat('%',#{param},'%') or address like concat('%',#{param},'%')) and del_flag = '0'
    </select>
</mapper>