<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.laborder.mapper.ClassroomOrderMapper">
    <resultMap id="classroomOrderResult" type="com.bdu.laborder.entity.ClassroomOrder">
        <id property="uuid" column="uuid"/>
        <result property="roomId" column="room_id"/>
        <result property="roomName" column="room_name" />
        <result property="roomAddress" column="room_address" />
        <result property="tableId" column="table_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderNum" column="order_num"/>
        <result property="orderNode" column="order_node" />
        <result property="roomCap" column="room_cap"/>
        <result property="orderStatus" column="order_status" />
    </resultMap>

    <resultMap id="classroomOrderDetailResult" type="com.bdu.laborder.entity.ClassroomOrderDetail">
        <id property="uuid" column="uuid" />
        <result property="orderUser" column="order_user" />
        <result property="orderId" column="order_id" />
        <result property="classroomId" column="classroom_id" />
        <result property="orderDate" column="order_date" />
        <result property="orderNode" column="order_node" />
        <result property="orderStatus" column="order_status" />
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark" />
    </resultMap>



    <select id="getClassroomCourse" resultMap="classroomOrderResult">
        SELECT
        o.uuid as uuid,
        r.uuid as room_id,r.name as room_name,r.address as room_address,r.cap as room_cap,r.status as order_status,
        t.uuid as table_id,o.order_num as order_num
        FROM
        ( SELECT * FROM s_classroom WHERE level = #{level} ) r
        LEFT JOIN
        ( SELECT * FROM s_course_table WHERE week = #{orderWeek} AND node = #{orderNode} ) t ON r.uuid = t.classroom_id
        LEFT JOIN
        s_order o ON r.uuid = o.room_id and o.order_date = #{orderDate} AND o.order_node = #{orderNode}

    </select>

    <select id="getOrderDetailByUserAndOrderId" resultMap="classroomOrderDetailResult">
        select uuid,order_user,order_id,classroom_id,
        order_date,order_node,order_status,create_time,remark
        from s_order_detail
        where order_user = #{userId} and  order_id = #{orderId}
    </select>

    <select id="selectClassroomOrderById" resultMap="classroomOrderResult">
        select uuid,room_id,order_date,order_node,order_num
        from s_order
        where uuid = #{id}
    </select>

    <insert id="insertOrderDetail">
        insert into s_order_detail (
        <if test="uuid != null and uuid != ''">uuid,</if>
        <if test="orderUser != null and orderUser != ''">order_user,</if>
        <if test="orderId != null and orderId != ''">order_id,</if>
        <if test="classroomId != null and classroomId != ''">classroom_id,</if>
        <if test="orderDate != null">order_date,</if>
        <if test="orderNode != null and orderNode != ''">order_node,</if>
        <if test="orderStatus != null and orderStatus != ''">order_status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="uuid != null and uuid != ''">#{uuid},</if>
        <if test="orderUser != null and orderUser != ''">#{orderUser},</if>
        <if test="orderId != null and orderId != ''">#{orderId},</if>
        <if test="classroomId != null and classroomId != ''">#{classroomId},</if>
        <if test="orderDate != null">#{orderDate},</if>
        <if test="orderNode != null and orderNode != ''">#{orderNode},</if>
        <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <insert id="insertOrder">
        insert into s_order (
        <if test="uuid != null and uuid != ''">uuid,</if>
        <if test="roomId != null and roomId != ''">room_id,</if>
        <if test="orderDate != null">order_date,</if>
        <if test="orderNode != null and orderNode != ''">order_node,</if>
        <if test="orderNum != null">order_num</if>
        )values (
        <if test="uuid != null and uuid != ''">#{uuid},</if>
        <if test="roomId != null and roomId != ''">#{roomId},</if>
        <if test="orderDate != null">#{orderDate},</if>
        <if test="orderNode != null and orderNode != ''">#{orderNode},</if>
        <if test="orderNum != null">#{orderNum}</if>
        )
    </insert>

    <update id="updateOrder">
        update s_order
        <set>
            <if test="roomId != null and roomId != ''">room_id = #{roomId},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="orderNode != null and orderNode != ''">order_node = #{orderNode},</if>
            <if test="orderNum != null">order_num = #{orderNum}</if>
        </set>
        where uuid = #{uuid}
    </update>

    <select id="checkOrderTime" resultMap="classroomOrderDetailResult">
        select classroom_id from s_order_detail
        where order_user = #{orderUser} and order_date = #{orderDate} and order_node = #{orderNode} limit 1
    </select>
</mapper>