<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.laborder.mapper.CourseTableMapper">
    <resultMap id="courseTableResult" type="com.bdu.laborder.entity.CourseTable">
        <id property="uuid" column="uuid" />
        <result property="year" column="year" />
        <result property="semester" column="semester" />
        <result property="periodStart" column="period_start" />
        <result property="periodEnd" column="period_end" />
        <result property="week" column="week" />
        <result property="limitWeek" column="limit_week" />
        <result property="node" column="node" />
        <result property="courseTimeId" column="course_time_id" />
        <result property="remark" column="remark"                />
        <result property="classRoomId" column="classroom_id" />
        <result property="courseId" column="course_id" />
        <result property="deptId" column="dept_id" />
        <association property="classroom" javaType="com.bdu.laborder.entity.Classroom" resultMap="classroomResult" />
        <association property="course" javaType="com.bdu.laborder.entity.Course" resultMap="courseResult" />
        <association property="dept" javaType="com.bdu.laborder.common.core.domain.entity.SysDept" resultMap="deptResult"/>

    </resultMap>

    <resultMap id="classroomResult" type="com.bdu.laborder.entity.Classroom">
        <id property="uuid" column="r_id"                        />
        <result property="name" column="r_name"                  />
        <result property="address" column="address"              />
        <result property="level" column="level"                  />
        <result property="cap" column="cap"                      />
        <result property="status" column="status"                />
        <result property="leader" column="leader"                />
        <result property="leaderId" column="leader_id"           />
        <result property="delFlag" column="del_flag"             />
        <result property="remark" column="remark"                />
        <result property="createBy" column="create_by"           />
        <result property="createTime" column="create_time"       />
        <result property="updateBy" column="update_by"           />
        <result property="updateTime" column="update_time"       />
    </resultMap>

    <resultMap id="courseResult" type="com.bdu.laborder.entity.Course">
        <id     property="uuid"       column="c_id"        />
        <result property="name"       column="c_name"        />
        <result property="leader"     column="leader"      />
        <result property="leaderId"   column="leader_id"   />
        <result property="type"       column="type"        />
        <result property="credit"     column="credit"      />
        <result property="remark"     column="c_remark"      />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <resultMap id="deptResult" type="com.bdu.laborder.common.core.domain.entity.SysDept">
        <id     property="deptId"   column="d_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="ancestors" column="ancestors"  />
        <result property="deptName" column="dept_name"   />
        <result property="orderNum" column="order_num"   />
        <result property="leader"   column="leader"      />
        <result property="status"   column="dept_status" />
    </resultMap>

    <sql id="selectCourseTableOneVo">
        select t.uuid,t.year,t.semester,t.period_start,t.period_end,t.week,t.limit_week,t.node,t.course_time_id,t.classroom_id,t.course_id,t.dept_id,t.remark
        from s_course_table t
    </sql>

    <sql id="selectCourseTableMoreVo">
        select
               t.uuid,t.year,t.semester,t.period_start,t.period_end,t.week,t.limit_week,t.node,t.course_time_id,t.classroom_id,t.course_id,t.dept_id,t.remark,
               c.uuid as c_id,c.name as c_name,c.leader,c.leader_id,c.type,c.credit,
               r.uuid as r_id,r.name as r_name,r.address,
               d.dept_id as d_id,d.dept_name
        from s_course_table t
        left join s_classroom r on t.classroom_id = r.uuid and r.del_flag != 1
        left join s_course c on t.course_id = c.uuid
        left join s_dept d on t.dept_id = d.dept_id
    </sql>



    <select id="getCourseTableList" resultMap="courseTableResult">
        <include refid="selectCourseTableMoreVo" />
        <where>
            <if test="year != null and year !=''">AND t.year = #{year} </if>
            <if test="semester != null and semester !=''">AND t.semester = #{semester} </if>
            <if test="deptId != null and deptId !=''">AND t.dept_id = #{deptId}</if>
        </where>
        order by t.week,t.node
    </select>

    <select id="checkCourseTableUnique" resultMap="courseTableResult">
        select
            t.uuid,t.course_id,t.classroom_id
        from s_course_table t
        where
            t.dept_id = #{deptId} and t.year = #{year} and t.semester =#{semester} and t.week = #{week} and t.node = #{node}
    </select>

    <select id="selectCourseTableById" resultMap="courseTableResult">
        <include refid="selectCourseTableMoreVo" />
        where t.uuid = #{id}
    </select>

    <insert id="insertCourseTable">
        insert into s_course_table (
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="year != null and year != ''">year,</if>
            <if test="semester != null and semester != ''">semester,</if>
            <if test="periodStart != null and periodStart != ''">period_start,</if>
            <if test="periodEnd != null and periodEnd != ''">period_end,</if>
            <if test="week != null and week != ''">week,</if>
            <if test="limitWeek != null and limitWeek != ''">limit_week,</if>
            <if test="node != null and node != 0">node,</if>
            <if test="courseTimeId != null and courseTimeId != ''">course_time_id,</if>
            <if test="deptId != null and deptId != ''">dept_id,</if>
            <if test="classRoomId != null and classRoomId != ''">classroom_id,</if>
            <if test="courseId != null and courseId != ''">course_id,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        ) values (
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="year != null and year != ''">#{year},</if>
            <if test="semester != null and semester != ''">#{semester},</if>
            <if test="periodStart != null and periodStart != ''">#{periodStart},</if>
            <if test="periodEnd != null and periodEnd != ''">#{periodEnd},</if>
            <if test="week != null and week != ''">#{week},</if>
            <if test="limitWeek != null and limitWeek != ''">#{limitWeek},</if>
            <if test="node != null and node != 0">#{node},</if>
            <if test="courseTimeId != null and courseTimeId != ''">#{courseTimeId},</if>
            <if test="deptId != null and deptId != ''">#{deptId},</if>
            <if test="classRoomId != null and classRoomId != ''">#{classRoomId},</if>
            <if test="courseId != null and courseId != ''">#{courseId},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updateCourseTable">
        update s_course_table
        <set>
            <if test="year != null and year != ''">year = #{year},</if>
            <if test="semester != null and semester != ''">semester = #{semester},</if>
            <if test="periodStart != null and periodStart != ''">period_start = #{periodStart},</if>
            <if test="periodEnd != null and periodEnd != ''">period_end = #{periodEnd},</if>
            <if test="week != null and week != ''">week = #{week},</if>
            <if test="limitWeek != null and limitWeek != ''">limit_week = #{limitWeek},</if>
            <if test="node != null and node != 0">node = #{node},</if>
            <if test="deptId != null and deptId != ''">dept_id = #{deptId},</if>
            <if test="classRoomId != null and classRoomId != ''">classroom_id = #{classRoomId},</if>
            <if test="courseId != null and courseId != ''">course_id = #{courseId},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where uuid = #{uuid}
    </update>

    <delete id="deleteCourseTableByIds">
        delete from s_course_table where uuid in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <select id="getCourseTableListByDept" resultMap="courseTableResult">
        <include refid="selectCourseTableMoreVo" />
        where
    </select>

    <select id="getCourseTableListByTeacher" resultMap="courseTableResult">
    </select>
</mapper>
