<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.laborder.mapper.LabExpMapper">
    <insert id="addLabExp">
        insert into `lab_exp`
        (`exp_type`,`exp_name`,`create_date`)
        values
        (#{expType},#{expName},now())
    </insert>
    <update id="updataLabExp">
        update `lab_exp` set
        `exp_type`=#{expType},`exp_name`=#{expName},`create_date`=now()
        where `exp_id`=#{expId}
    </update>
    <delete id="deleteLabExp">
        update `lab_exp` set `is_delete`="1" where `exp_id`=#{id}
    </delete>

    <select id="getExps" resultType="com.bdu.laborder.entity.Experiment">
        select * from lab_exp
        <where>
            1=1 and is_delete = "0"
            <if test="eName != null and eName != ''">
                and exp_name like "%"#{eName}"%"
            </if>
            <if test="eType != null and eType != ''">
                and exp_type = #{eType}
            </if>
        </where>
        order by create_date desc
    </select>
    <select id="getLabExpById" resultType="com.bdu.laborder.entity.Experiment">
        select * from lab_exp where exp_id=#{id}
    </select>
    <select id="getExpByName" resultType="java.lang.String">
        select exp_id from lab_exp where exp_name = #{expName} and is_delete = "0"
    </select>
    <select id="getExpNameByType" resultType="com.bdu.laborder.entity.Experiment">
        select exp_id,exp_name from lab_exp where exp_type = #{expType} and is_delete = "0"
    </select>
</mapper>
