<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.laborder.mapper.LabsMapper">

    <select id="getLabs" resultType="com.bdu.laborder.entity.Labs">
        select * from labs
        <where>
            1=1 and is_delete='0'
            <if test="lType != ''">
                and l_type = #{lType}
            </if>
            <if test="lName != ''">
                and l_name like "%"#{lName}"%"
            </if>
            <if test="lAddress != ''">
                and l_address like "%"#{lAddress}"%"
            </if>
        </where>
        ORDER BY create_date DESC
    </select>

    <select id="getLabById" resultType="com.bdu.laborder.entity.Labs">
        select * from labs where l_id = #{id} and is_delete = "0"
    </select>
    <select id="getLabByAddress" resultType="com.bdu.laborder.entity.Labs">
       select l_id from labs where l_address = #{add} and is_delete = "0"
    </select>
    <select id="getAllLab" resultType="com.bdu.laborder.entity.Labs">
        select * from labs where is_delete = "0"
    </select>
    <select id="getLTypeById" resultType="java.lang.String">
        select l_type from labs where l_id = #{lId} and is_delete = "0"
    </select>
    <select id="getLabTopById" resultType="com.bdu.laborder.entity.LabsTop">
        select * from lab_top where l_id = #{id}
    </select>
    <select id="getLabsTop" resultType="com.bdu.laborder.entity.LabsTop">
        select * from lab_top order by all_time desc limit 5
    </select>

    <insert id="addLab" >
        insert into  `labs`
        (`l_name`,`l_address`,`l_type`,`l_cap`,`create_date`)
        values
        (#{lName},#{lAddress},#{lType},#{lCap},now())
    </insert>
    <insert id="addLabTop">
        insert into `lab_top`
        (`l_id`,`newest_date`,`all_time`)
        values
        (#{lId},#{newestDate},#{allTime})
    </insert>

    <update id="updateLab">
        update `labs` set
        `l_name`=#{lName},`l_address`=#{lAddress},`l_type`=#{lType},`l_cap`=#{lCap},`create_date` = now()
        WHERE `l_id` = #{lId}
    </update>
    <update id="updateLabTop">
        update `lab_top` set
        `newest_date` = #{newestDate},`all_time` = #{allTime}
        where `lt_id` = #{ltId}
    </update>

    <delete id="deleteLab">
        update `labs` set
        `is_delete`="1"
        where `l_id`=#{id}
    </delete>
</mapper>
