<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bdu.laborder.mapper.LoginMapper">

    <select id="getUserByUserName" resultType="com.bdu.laborder.entity.User">
		select user_id,login_name,password,is_firstlogin
		from s_user
		<where >
			1=1
		 	<if test="loginName!=null" >
				and login_name = #{loginName}
			</if>
		</where>
		and is_delete=0
		ORDER BY  user_id DESC limit 1
	</select>

	<select id="getUserById" resultType="com.bdu.laborder.entity.User">
		select *
		from s_user
		<where>
			<if test="userId != null" >
				user_id=#{userId}
			</if>
		</where>
		and is_delete=0
	</select>



</mapper>
