<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.laborder.mapper.NewsMapper">
    <insert id="addNews">
        insert into `news`
        (`title`,`content`,`create_time`)
        values
        (#{title},#{content},now())
    </insert>

    <update id="deleteNews">
        update `news` set `is_delete`="1" where news_id = #{newsId}
    </update>

    <update id="releaseNews">
        update `news` set `release_status` = "1", `release_time` = now() where `news_id` = #{newsId}
    </update>
    <update id="recallNews">
        update `news` set `release_status` = "0", `release_time` = null where `news_id` = #{newsId}
    </update>
    <update id="updateNews">
        update `news` set `title`=#{title},`content`=#{content}
        where `news_id` = #{newsId}
    </update>


    <select id="getAllNews" resultType="com.bdu.laborder.entity.News">
        select * from news
        <where>
            1=1 and is_delete = '0'
            <if test="title != ''">
                and title like "%"#{title}"%"
            </if>
            <if test="releaseStatus != ''">
                and release_status = #{releaseStatus}
            </if>
            order by create_time desc
        </where>
    </select>
    <select id="getNewsById" resultType="com.bdu.laborder.entity.News">
        select * from news where news_id = #{newsId} and is_delete = '0'
    </select>
    <select id="getHomeInform" resultType="com.bdu.laborder.entity.News">
        select news_id,title,release_time from news where is_delete = '0' and release_status = "1" order by release_time desc limit 5
    </select>

</mapper>
