<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.laborder.mapper.SDictMapper">

    <resultMap id="SDictResult" type="com.bdu.laborder.entity.SDict">
        <result property="uuid"    column="uuid" />
        <result property="code"    column="code" />
        <result property="name" column="name" />
        <result property="tableType" column="table_type" />
        <result property="tableName" column="table_name" />
        <result property="orderNum" column="order_num" />
        <result property="remark" column="remark" />
        <result property="status" column="status" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectSDictTypeVo">
        select uuid,code,name,status,remark, create_by, create_time, update_by,update_time
        from s_dict_type
    </sql>
    <sql id="selectSDictDataVo">
        select uuid,code, name, table_name, table_type, order_num, remark, status, create_by, create_time, update_by,update_time
        from s_dict_data
    </sql>

    <!--SDictType SQL  START-->
    <select id="selectSDictTypeList" resultMap="SDictResult"  parameterType="com.bdu.laborder.entity.SDict" >
        <include refid="selectSDictTypeVo" />
        <where>
            <if test="code != null and code != ''">AND code = #{code}</if>
            <if test="name != null and name != ''">AND name like concat('%', #{name}, '%')</if>
            <if test="status != null and status != ''">AND status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>




    <!-- END -->

   <!--SDictData SQL  START-->
    <select id="selectSDictList" parameterType="com.bdu.laborder.entity.SDict" resultMap="SDictResult">
        <include refid="selectSDictDataVo"/>
        <where>
            table_type = #{tableType}
            <if test="code != null and code != ''">AND code = #{code}</if>
            <if test="name != null and name != ''">AND name like concat('%', #{name}, '%')</if>
            <if test="status != null and status != ''">AND status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
               AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by order_num asc
    </select>

    <select id="selectSDictById"  parameterType="String" resultMap="SDictResult">
        <include refid="selectSDictDataVo"/>
        where uuid = #{id}
    </select>

    <select id="selectSDictByType" parameterType="com.bdu.laborder.entity.SDict" resultMap="SDictResult">
        <include refid="selectSDictDataVo" />
        where status ='0' and tableType =  #{tableType}
    </select>

    <insert id="insertSDict" parameterType="com.bdu.laborder.entity.SDict">
        insert into s_dict_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="tableType != null">table_type,</if>
            <if test="tableName != null">table_name ,</if>
            <if test="remark != null">remake,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="tableType != null">#{tableType},</if>
            <if test="tableName != null">#{tableName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateSDict" parameterType="com.bdu.laborder.entity.SDict">
        update  s_dict_data
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="tableType != null">table_type = #{tableType},</if>
            <if test="tableName != null">table_name = #{tableName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="remark != null">remake = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where uuid = #{uuid}
    </update>

    <update id="updateSDictType" parameterType="string">
        update s_dict_data set
            table_type = #{newTableType},
            table_name = #{newTableName}
        where table_type = #{oldTableType}
    </update>

    <delete id="deleteSDictById" parameterType="int">
        delete from s_dict_data where uuid = #{id}
    </delete>

    <delete id="deleteSDictByIds" parameterType="int">
        delete from s_dict_data where uuid in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
     </delete>

    <select id="selectSDitName" resultType="java.lang.String">
        select name from s_dict_data
        where tableType = #{tableType} and  code = #{code}
    </select>

    <select id="countSDictByType" resultType="int">
        select count(1) from s_dict_data where tableType = #{tableType}
    </select>

    <select id="checkDictTypeUnique" resultMap="SDictResult">
        <include refid="selectSDictTypeVo" />
        where code = #{code} limit 1
    </select>
</mapper>